<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | absURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    <h2>{{ .Site.Params.subinfo }}</h2>
    {{ with .Site.Params.social }}
    <ul class="social-list">
      {{ range sort . "weight"}}
        {{ if eq (cond (isset . "language") .language $.Page.Language.Lang ) $.Page.Language.Lang }}
          <li class="social-item">
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
              {{ if .icon }}
                <i class="{{ .icon }}" aria-hidden="true"></i>
              {{ else }}
                {{ .name }}
              {{ end }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
